.interface {
    text-align: center;
}

.interface__tab-container {
    border: solid;
    border-radius: 5px;
    cursor: pointer;

    img {
        padding: 5px;
        height: 40px;
        width: 37px;
    }
}
