// Inventory Tabs

.interface {
    text-align: center;

    .interface__tab-container {
        img {
            padding: 2px;
            height: 40px;
            width: 40px;
            cursor: pointer;
        }
    }
}

.grayscale {
    img {
        filter: grayscale(100%);
    }
}

// Inventory

.inventory__icon {
    img {
        padding: 10px;
        transform: scale(1.5);
    }
}

// Equipment

.container .equipment {
    .equipment__loadout {
        max-width: 400px;
    }
    .equipment__stats {
        max-width: 350px;
    }
    img {
        height: 70px;
        width: 70px;
    }
    .equipment__dropdown-menu-container {
        position: relative;

        .equipment__dropdown-menu {
            background: white;
            position: absolute;
            z-index: 1;
            width: 100%;
        }

        .equipment__dropdown-item {
            cursor: pointer;
        }
    }
}

// Prayer

.prayer__icon {
    img {
        padding: 10px;
        transform: scale(1.5);
    }
}

// Monster

.container .monster {
    .monster__search {
        max-width: 400px;
    }
    .monster__dropdown-menu-container {
        position: relative;

        .monster__dropdown-menu {
            background: white;
            position: absolute;
            z-index: 1;
            width: 100%;
        }

        .monster__dropdown-item {
            cursor: pointer;
        }
    }
    .monster__stats {
        max-width: 350px;
    }
    img {
        height: 25px;
        width: 25px;
    }
}
