// Inventory Tabs

.interface {
    text-align: center;

    .interface__tab-container {
        img {
            padding: 2px;
            height: 40px;
            width: 40px;
            cursor: pointer;
        }
    }
}

.grayscale {
    img {
        filter: grayscale(100%);
    }
}

// Equipment

.container .equipment {
    max-width: 400px;

    img {
        height: 70px;
        width: 70px;
    }
}
